@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
  .info
    &-text
      margin-right: 170px
@media ( max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    &__title
      margin-bottom: 37px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
  .info
    &-text
      margin-right: 50px
  .modal
    &__dialog
      padding: 33px 55px
@media ( max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &_visible
        display: block
    &-menu
      flex-direction: column
      &__user
        flex-direction: column
        justify-content: center
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &__logo
      width: 104px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &_prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
        &_next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
    &__title
      margin: auto
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 255px
    height: 255px
  .footer
    &__input
      flex-basis: 100%
  .info
    &-text
      margin-right: 30px
  .modal
    &__dialog
      padding: 22px 33px
      width: 450px
  .input
    height: 40px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
      max-width: 245px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
    &__title
      width: 100%
      &_inline
        margin: 0 0 20px 0
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__message
      margin-bottom: 0
    &__info
      flex-basis: 100%
      padding-top: 15px
      padding-bottom: 15px
    &__button
      order: 2
  .modal
    &__dialog
      width: 400px
@media (max-width: 480px)
  .hotel
    &-slider
      height: 179px
  .search
    &__input
      width: 230px
  .footer
    &__info
      &-below
        flex-wrap: wrap
        align-items: center
        justify-content: center
  .info-text
    margin-bottom: 20px
    margin-right: 0
  .modal
    &__dialog
      width: 100%
      top: 0
      left: 0
      right: 0
      bottom: 0
      transform: none
    &__title
      margin-bottom: 20px
    &__input
      margin-bottom: 20px
    &__message
      margin-bottom: 50px
