@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
  .info
    &-text
      margin-right: 170px
@media ( max-width: 991px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    &__image
      width: 133px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .packages
    &-cards
      grid-template-columns: repeat(2, 1fr)
      grid-auto-rows: 400px
  .tour
    &-haven
      &__info
        padding: 26px 20px 20px 33px
      &__title
        margin-bottom: 17px
        font-size: 16px
        line-height: 18px
      &__description
        margin-bottom: 17px
        font-size: 12px
      &__room
        margin-bottom: 12px
    &-room
      &__description
        font-size: 10px
        line-height: 13px
      &__text
        margin-bottom: 4px
    &-price
      &__old
        font-size: 12px
      &__new
        font-size: 20px
    &__button
      font-size: 12px
      line-height: 15px
      width: 100px
      height: 30px
    &__offer
      height: 50%
    &__image
      height: 100%
    &-info
      padding: 20px 15px 11px 22px
      &__title
        margin-bottom: 13px
        font-size: 16px
        line-height: 18px
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
    &__title
      margin: auto
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-row-gap: 50px
    &__logo
      grid-row: 1 / 2
      grid-column: span 3
      width: 96px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 9
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
    &__additional
      grid-column: span 5
      margin-left: 20px
    &__legal
      grid-column: span 4
      margin-left: 20px
    &__contact
      &-details
        grid-column: span 12
        grid-row: 3
      &-form
        grid-column: span 9
        grid-row: 4
    &__title
      margin-top: 10px
    &__input
      font-style: normal
      font-weight: 300
      font-size: 14px
      line-height: 18px
      &-group
        flex-basis: 48%
    &__message
      font-style: normal
      font-weight: 300
      font-size: 14px
      line-height: 18px
    &__info
      &-below
        justify-content: space-between
  .info
    &-text
      margin-right: 50px
  .modal
    &__dialog
      padding: 33px 55px
@media ( max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &_visible
        display: block
    &-menu
      flex-direction: column
      &__user
        flex-direction: column
        justify-content: center
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &__logo
      width: 104px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__text
        text-align: start
      &__button
        top: 32px
        &_prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
        &_next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
    &__title
      margin: auto
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 255px
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
  .info
    &-text
      margin-right: 30px
  .modal
    &__dialog
      padding: 22px 33px
      width: 450px
  .input
    height: 40px
@media (max-width: 576px)
  .container
    max-width: 380px
    width: 92%
  .logo
    width: 99px
  .hotel
    padding-top: 5px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
      max-width: 245px
  .card
    width: 100%
  .packages
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 32px
    &-cards
      grid-template-columns: 1fr
      grid-auto-rows: 300px
  .tour
    &-haven
      flex-wrap: nowrap
      grid-column: 1/2
      &__info
        padding: 20px 15px 11px 22px
      &__description
        display: none
      &__room
        margin-bottom: 30px
      &__title
        margin-bottom: 30px
        font-size: 18px
        line-height: 20px
    &-room
      margin-bottom: 30px
    &__one
      display: flex
      // flex-wrap: wrap
    &__offer
      display: flex
      height: 100%
      width: 50%
    &-info
      width: 50%
      &__title
        margin-bottom: 30px
        font-size: 18px
        line-height: 20px
    &__image
      width: 100%
      object-fit: cover
    &__book
      flex-wrap: wrap
    &-price
      width: 100%
      margin-bottom: 15px
  .stars
    display: none
  .activities
    padding-bottom: 40px
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
    &__title
      width: 100%
      &_inline
        margin: 0 0 20px 0
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__item
      &_mb-2
        flex-wrap: nowrap
    &__message
      margin-bottom: 0
    &__info
      flex-basis: 100%
      padding-top: 15px
      padding-bottom: 15px
      &-below
        flex-wrap: wrap
        margin-top: 30px  
    &__button
      order: 2
  .info-text
    margin-right: 0
    margin-bottom: 10px
  .modal
    &__dialog
      width: 400px
  .input
    height: 50px
@media screen and (max-height: 530px)
  .modal
    &__title
      margin-top: 9px
    &__message
      max-height: 70px
  .button
    padding: 9px
  .navbar
    &-bottom
      padding-top: 20px
    &-menu
      padding-top: 0
      justify-content: space-evenly
      flex-direction: row
      flex-wrap: wrap
      &__item
        margin-bottom: 7px
        margin-top: 20px
        &_mobile_visible
          width: 100%
          margin: auto
          padding-top: 20px
  .search
    height: 35px
    width: fit-content
    margin: auto
    &__input
      width: 250px
@media (max-width: 480px)
  .container
    max-width: 280px
    width: 92%
  .hotel
    &-slider
      height: 179px
  .search
    &__input
      width: 230px
  .packages
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 32px
    &-cards
      grid-template-columns: 1fr
      grid-auto-rows: 450px
  .tour
    &-info
      width: 100%
      padding: 20px
      &__title
        margin: 0
        margin-bottom: 5px
    &-haven
      flex-wrap: wrap
      &__offer
        display: flex
        height: 50%
        width: 100%
      &__info
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        height: 50%
        width: 100%
        padding: 20px
      &__title
        margin: 0
      &__room
        margin-bottom: 5px
    &-room
      margin-bottom: 10px
      &__text
        margin: 0
    &__one
      display: flex
      flex-wrap: wrap
    &__offer
      height: 50%
      width: 100%
    &__flash
      padding: 8px 12px
      font-size: 12px
      line-height: 15px
    &-price
      margin-bottom: 5px
      &__old
        margin: 0
      &__new
        margin: 0
  .footer
    &__info
      &-below
        flex-wrap: wrap
        align-items: center
        justify-content: center
  .info-text
    margin-bottom: 20px
    margin-right: 0
  .modal
    &__dialog
      width: 100%
      top: 20%
      left: 0
      right: 0
      transform: none
    &__input
      &-group
        margin-top: 20px
    &__message
      margin-top: 20px
    &__button
      margin-top: 50px
  .button
    min-width: 130px
